html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: sans-serif;
}

/* global */

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

/* Header */

.header__top {
  align-items: center;
  padding-top: 30px;
  margin-bottom: 30px;
}

.header__logo {
  margin-right: 40px;
}

.header__tel {
  margin-right: auto;
}

.header__bottom {
  align-items: center;
  /* flex-wrap: wrap; */
  min-width: 450px;
  padding: 14px 45px;
  outline: 1px solid coral;
  border-radius: 10px;
}

.navigation {
  margin-right: auto;
}

.header__list {
  flex-wrap: wrap;
}

.header__item {
  padding: 14px 0;
}

.header__item /*:not(:last-child) */{
  margin-right: 45px;
}

.btn {
  padding: 13px 20px;
  outline: 1px solid coral;
  border-radius: 10px;
  text-align: center;
}

.btn-header__link {
  margin-right: 40px;
}

/* special */

.special__title {
  margin: 0;
  margin-bottom: 20px;
}

.special__content {
  min-width: 450px;
  min-height: 540px;
}

.special__block {
  flex-direction: column;
  width: calc((100% - 30px) / 2);
}

.special__block:not(:last-child) {
  margin-right: 24px;
}

.special__card:not(:last-child) {
  margin-bottom: 24px;
}

.special__card {
  flex: 1;
  min-height: 258px;
  padding: 40px 45px;
  outline: 1px solid coral;
}

.special-card__right {
  flex-direction: column;
  justify-content: flex-end;
}

.special-card__title {
  margin: 0;
  margin-bottom: 15px;
}

.special-card__desc {
  margin: 0;
  margin-bottom: 47px;
}
