html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Muller";
  src: local(MullerRegular),
    url(../fonts/MullerRegular.woff2) format("woff2"),
    url(../fonts/MullerRegular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local(MullerLight),
    url(../fonts/MullerLight.woff2) format("woff2"),
    url(../fonts/MullerLight.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local(MullerMedium),
    url(../fonts/MullerMedium.woff2) format("woff2"),
    url(../fonts/MullerMedium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local(MullerBold),
    url(../fonts/MullerBold.woff2) format("woff2"),
    url(../fonts/MullerBold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 1200px;
  font-family: "Muller", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000;
  background-color: #f1f1f1;
}

/* global */

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.flex {
  display: flex;
}

.marg:not(:last-child) {
  margin-bottom: 70px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.title-second {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333;
}

.btn {
  display: inline-block;
  padding: 13px 20px;
  border: 1px solid #cc9933;
  border-radius: 10px;
  text-align: center;
  color: #cc9933;

}

.link {
  padding-right: 15px;
  color: #cc9933;
  background-image: url("../img/link-decor.svg");
  background-position: right center;
  background-repeat: no-repeat;
}

.card {
  overflow: hidden;
  border-radius: 15px;
}

/* Header */

.header__top {
  align-items: center;
  padding-top: 30px;
  margin-bottom: 30px;
}

.header__logo {
  margin-right: 40px;
}

.header__tel {
  margin-right: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666;
}

.header__bottom {
  align-items: center;
/*
  flex-wrap: wrap;
  max-width: 1200px;
*/
  padding: 14px 45px;
  background: #fff;
  border-radius: 15px;
}

.navigation {
  margin-right: auto;
}

.header__link {
  color: #666;
}

/*
.header__item {
  padding: 14px 0;
}
*/

.header__item:not(:last-child) {
  margin-right: 45px;
}

.btn-header__link {
  margin-right: 40px;
}

.header__cabinet {
  padding-left: 27px;
  background-image: url("../img/arrow.svg");
  background-position: left;
  background-repeat: no-repeat;
  color: #cc9933;
}

/* special */

/*
.special__content {
  min-width: 450px;
}
*/

.special__block {
  flex-direction: column;
  width: calc((100% - 24px) / 2);
}

.special__block:not(:last-child) {
  margin-right: 24px;
}

.special__card:not(:last-child) {
  margin-bottom: 24px;
}

.special__card {
  flex: 1;
  padding: 40px 45px;
  overflow: hidden;
  border-radius: 15px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f1f1f1;
}

.special-card__first {
  background-image: url("../img/art-01.jpg");
}

.special-card__second {
  background-image: url("../img/art-02.jpg");
}

.special-card__third {
  background-image: url("../img/art-03.jpg");
}

.special-card__right {
  flex-direction: column;
  justify-content: flex-end;
}

.special-card__right a {  /*Всё равно стрелочка справа*/
  display: inline;
}

.special-card__title {
  max-width: 420px;
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #fff;
}

.special-card__desc {
  margin: 0;
  margin-bottom: 47px;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  opacity: 0.8;
}

.special-card__link {
  color: #f0bf5f;
}

.special-card__header {
  font-size: 60px;
  line-height: 60px;
}

.special-card__descr {
  font-size: 30px;
  line-height: 30px;
}

/* about-as */

.about-us__text {
  max-width: 888px;
  margin: 0;
  text-align: left;
  line-height: 200%;
  }

/* services */

.services__list {
  flex-flow: row wrap;
/*  min-width: 450px;*/
}

.services__item {
  max-width: 573px;
  flex-basis: 573px;
  margin-bottom: 24px;
  margin-right: 24px;
  padding: 26px 45px 35px;
  outline: 1px solid coral;
  border-radius: 10px;
}

.services__item:nth-child(2n) {
  margin-right: 0;
}

.services-item__title {
  margin: 0;
  margin-bottom: 5px;
}

.services-item__desc {
  margin: 0;
}

/* adventages */

.adventages__list {
  flex-flow: row wrap;
}

.adventages__item {
  max-width: 276px;
  margin-right: 22px;
  margin-bottom: 22px;
  padding: 116px 42px 32px 45px;
  outline: 1px solid coral;
  border-radius: 10px;
}

.adventages__item:nth-child(4n) {
  margin-right: 0;
}

.adventages-item__content {
  margin: 0;
}

/* placement */

.placement__list {
  flex-flow: row wrap;
}

.placement__item {
  max-width: 374px;
  flex-basis: 374px;
  margin-bottom: 24px;
  outline: 1px solid coral;
  border-radius: 10px;
  font-size: 0;
}

.placement__item:not(:nth-child(3n)) {
  margin-right: 24px;
}

.placement-item__content {
  padding: 32px 45px 45px 45px;
}

.placement-item__content {
  font-size: 16px;
}

.placement-item__more {
  font-size: 20px;
}


 .placement-content__star {
  display: inline-block;
}

.placement-content__text,
.placement-content__title,
.placement-content__desc {
  margin: 0;
  margin-bottom: 16px;
}

 .placement-content__text {
  display: inline-block;
  margin-right: 52px;
}

.placement-content__desc {
  margin-bottom: 33px;
}

.cards {
  outline: 1px solid black;
}
